{%- assign account_t = 'layout.header.account_view_link' | t -%}
{%- if shop.customer_accounts_enabled -%}
{%- if customer -%}
<div class="customer-box">
<p class="for_desk layout--login">
   <img src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/profile.svg?v=1658410422" alt="profile">
   <span class="label_mob">Login </span>
      <div class="account_popup">
         <a href="{{ routes.account_addresses_url }}" title="Account">
            <div class="d_flex user_div">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                     id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                     xml:space="preserve">
                     <style type="text/css">
                        .st0 {
                           display: none;
                        }

                        .st1 {
                           display: inline;
                        }

                        .st2 {
                           fill: #FFFFFF;
                           stroke-width: 1px;
                        }
                     </style>
                     <g id="_x30_1" class="st0">
                        <g class="st1">
                           <path class="st2"
                              d="M455.2,274.51c-0.6-25.32-0.1-50.66-0.1-75.99c0-31.57,0.02-63.14-0.02-94.71    c-0.01-7.88-3.14-11.13-10.85-11.23c-31.62-0.4-62.17-6.31-91.47-18.19c-35.62-14.44-66.67-35-88.69-67.49    c-4.75-7.02-11.64-6.9-16.45,0.27c-10.12,15.06-22.53,27.92-37.08,38.62C168.44,76.74,120.85,91.18,69,92.53    c-9.13,0.24-12.23,2.99-12.23,11.6c-0.02,59.92-0.08,119.85,0.03,179.77c0.05,30.19,6.91,58.94,21.06,85.52    c36.84,69.18,94.6,113.14,167.76,138.23c7.36,2.52,14.18,2.08,21.43-0.29c55-18,101.08-49.31,138.05-93.77    C438.5,373.42,456.45,327.47,455.2,274.51z M389.67,403.11c-34.81,40.78-77.64,70.07-128.68,86.86c-2.83,0.93-6.49,1.25-9.22,0.3    c-67.43-23.46-121.41-63.8-156.54-127.11c-13.6-24.51-20.26-51.16-20.32-79.28c-0.11-56.14-0.04-112.28-0.03-168.42    c0-1.47,0.18-2.95,0.27-4.44c70.61-5.44,132.77-28.59,181.02-83.81c21.75,26.9,49.49,46.14,81.03,60.14    c31.52,13.99,64.57,21.58,99.8,23.3c0,2.34,0,4.52,0,6.69c0,54.06-0.22,108.12,0.07,162.18    C437.31,327.01,419.94,367.66,389.67,403.11z M256.49,119.81c-75.44-0.07-136.34,60.87-136.35,136.44    c-0.01,74.8,61,135.81,135.81,135.81c74.78,0,135.68-60.94,135.76-135.86C391.8,181.13,331.07,119.87,256.49,119.81z     M255.34,373.87c-65.28-0.26-117.47-53.61-117.08-119.68c0.38-64.25,53.91-116.6,118.83-116.22    c64.11,0.38,116.73,53.65,116.53,117.98C373.4,321.4,320.52,374.13,255.34,373.87z M306.03,193.67c-1.91,1.12-3.55,2.78-5.14,4.36    c-30.68,30.71-61.34,61.43-91.95,92.21c-1.44,1.45-2.4,3.38-4.22,6c-4.66-9.31-8.4-16.89-12.24-24.42    c-3.12-6.13-7.74-8.22-12.7-5.9c-5.26,2.47-6.62,7.58-3.5,13.93c5.16,10.49,10.4,20.95,15.64,31.4    c5.04,10.05,10.73,10.94,18.73,2.92c34.39-34.46,68.78-68.93,103.15-103.43c1.58-1.59,3.21-3.26,4.29-5.19    c2.11-3.77,1.25-7.41-1.72-10.34C313.4,192.27,309.75,191.5,306.03,193.67z" />
                        </g>
                     </g>
                     <g id="_x30_2" class="st0">
                        <g class="st1">
                           <path class="st2"
                              d="M426.37,139.99C400.93,43.05,301.96-12.87,205.73,15.29C133.08,36.59,81.32,104.48,80.1,179.97    c-0.43,26.9,5.16,52.68,14.06,77.8c14.26,40.3,35,77.34,58.75,112.57c28.72,42.61,58.47,84.54,87.99,126.64    c2.96,4.21,7.42,7.37,11.19,11.02c2.61,0,5.21,0,7.82,0c3.77-3.65,8.01-6.96,11.2-11.01c5.29-6.79,9.89-14.09,14.79-21.24    c26.98-39.1,54.56-77.79,80.76-117.32c22.57-34.1,41.53-70.28,54.13-109.42C432.33,213.19,436.06,176.94,426.37,139.99z     M392.4,241.53c-12.6,38.33-31.77,73.47-54.03,106.77c-26.29,39.38-53.82,77.88-80.82,116.8c-0.36,0.51-0.82,0.95-1.68,1.95    c-16.7-23.56-33.17-46.58-49.42-69.71c-25.8-36.79-50.76-74.13-70.21-114.78C124.49,258,115.23,232.61,111,205.49    c-9.89-63.34,25-128.39,83.35-154.64c86.46-38.93,183.81,9.43,204.92,101.82C406.18,182.96,401.96,212.53,392.4,241.53z     M256.44,95.8c-48.53-0.17-88.24,39.13-88.4,87.47c-0.16,48.5,39.14,88.16,87.53,88.35c48.52,0.14,88.22-39.13,88.4-87.48    C344.14,135.65,304.84,95.94,256.44,95.8z M255.75,242.31c-32-0.1-58.35-26.52-58.39-58.49c-0.04-32.3,26.38-58.71,58.65-58.71    c32.28,0.01,58.68,26.47,58.63,58.72C314.6,216.05,288.08,242.38,255.75,242.31z" />
                        </g>
                     </g>
                     <path class="st2"
                        d="M453.45,489.63c-0.39-46.84-14.97-88.78-44.92-124.8c-33.25-39.95-75.76-64.34-127.74-70.57  c-60.07-7.21-112.93,9.57-157.77,50.18c-36.77,33.29-57.6,75.03-63.34,124.24c-0.81,6.91-0.78,13.95-1.13,20.96  c-12.19,0-24.37,0-36.56,0c3.74-107.91,58.51-179.76,156.16-221.58c-36.31-27.19-56.75-63.45-57.27-109.65  c-0.42-37.65,13.16-70.32,40.01-96.78c55.77-54.93,141.89-50.47,192.63,2.38c56.07,58.36,49.71,154.62-20.59,204.72  c1.95,0.73,3.52,1.38,5.08,2.01c71.34,28.37,118.97,78.9,142.24,152.07c5.04,15.83,7.87,32.11,8.97,48.72  c0.1,1.49,0.52,2.95,0.8,4.41c0,4.53,0,9.12,0,13.69C477.82,489.63,465.64,489.63,453.45,489.63z M256.09,58.86  c-54.16-0.1-98.51,44-98.8,98.2c-0.29,54.2,44.23,98.81,98.62,98.89c54.16,0.07,98.51-44,98.8-98.26  C354.99,103.59,310.47,58.96,256.09,58.86z" />
                  </svg>
                 Account
            </div>
         </a>
      <hr class="solid">
      <a href="{{ routes.account_logout_url }}" class="logout_link" title="Log out">
         <div class="d_flex user_div">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                  <rect width="256" height="256" fill="none" />
                  <line x1="127.992" x2="127.992" y1="48.003" y2="124.003" fill="none" stroke="#fff"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="16" />
                  <path fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"
                     d="M176.00189,54.23268a88,88,0,1,1-96.00346-.00021" />
                        </svg>
                      Log out
         </div>
      </a>
     
   </div>
</p>
</div>
{%- else -%}
<a class="for_desk" href="{{ routes.account_login_url }}" title="Login">
   <img src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/profile.svg?v=1658410422" alt="login_profile">
   <span class="label_mob">Login </span>
</a>
{%- endif -%}
{%- endif -%}