<div class="fixed-mobile-bottom-bar">
    <ul>
        <li class="track-order"><a href="https://www.at-home.co.in/pages/track-my-order">
                <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/11.png">
                <h6>Track order</h6>
            </a>
        </li>
        <li class="wishlist"><a href="https://www.at-home.co.in/apps/iwish"><img
                    src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/61.png?v=1656414823" alt="">
                <h6>Wishlist</h6>
            </a>
        </li>
        <li class="cart"><a href="https://www.at-home.co.in/cart">
                <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/71.png">
                <h6>Cart <span class="cart--external--icon" data-item-count="{{ cart.item_count }}">
          (<span class="cart--external--total-items">{{ cart.item_count }}</span>)
          </span></h6>
            </a>
        </li>
        <li class="login"><a href="https://www.at-home.co.in/account/login">
                <img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/51.png" alt="" title="">
                  <h6>LogIn</h6></a>
                  <ul class="submenu" style="display:none">
                
                
                <li><a href="/account">LOGIN</a></li>
                <li><a href="/account/register">CREATE AN ACCOUNT</a></li>
                
                
              </ul>
            </a>
        </li>
    </ul>
</div>
