
<div class="section_icons_text">
<div class="icons_with_text_container">
    <span><img class="icons_text"
            src="//cdn.shopify.com/s/files/1/0248/7766/2271/files/10_Years_warranty_icon_4387bd4d-5696-4102-a8a3-a568185ac63a.jpg?v=1658224049" alt="years_warrenty"></span>
    <span class="icons_with_text_content">
        <header class="box_head">10 Years Warranty</header>
        <p class="box_para">Stay protected from any manufacturing defect for a decade.</p>
    </span>
    <img class="bottom-moon"
        src="//cdn.shopify.com/s/files/1/0248/7766/2271/files/10_Years_warranty_Half_moon.jpg?v=1657610437">
</div>
<div class="icons_with_text_container">
    <span><img class="icons_text"
            src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/Free_shipping_icon_1.jpg?v=1658224455" alt="free_shipping"></span>
    <span class="icons_with_text_content">
        <header class="box_head">Free Shipping</header>
        <p class="box_para">Get free doorstep delivery of any of our products anywhere in India.</p>
    </span>
    <img class="bottom-moon"
        src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/100_Night_Free_Half_moon.jpg?v=1657610459">
</div>
<div class="icons_with_text_container">
    <span><img class="icons_text"
            src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/Easy_unboxing_icon_f3da5463-c929-4c63-9aa0-34d2c4a86ba9.jpg?v=1658224071" alt="easy_unbox"></span>
    <span class="icons_with_text_content">
        <header class="box_head">Easy Unboxing</header>
        <p class="box_para">Turn a box into a bed mattress and then into the best sleep in less than a minute. </p>
    </span>
    <img class="bottom-moon"
        src="//cdn.shopify.com/s/files/1/0248/7766/2271/files/10_Years_warranty_Half_moon.jpg?v=1657610437">
</div>
<div class="icons_with_text_container">
    <span><img class="icons_text"
            src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/100_Night_Free_Trial_icon_1.jpg?v=1658224471"></span>
    <span class="icons_with_text_content">
        <header class="box_head">100 Night Free Trial</header>
        <p class="box_para">Take your time, give it a good go. And if you still aren't happy, we'll give you your money back.</p>
    </span>
    <img class="bottom-moon"
        src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/100_Night_Free_Half_moon.jpg?v=1657610459">
</div>
</div>

  

