<!-- <span class="d_flex sticky_container"> -->
    <!-- <a href="" class="hover_icon hover_one">
        <img src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/Message_1.jpg?v=1659597305" alt="" style="width:40px;height:40px">
    </a> -->
   
    <!-- <a href="" class="hover_icon hover_two">
      <img src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/Whatsapp_1.jpg?v=1659597305" alt="">
 </a> -->

<!--      <div class="haptikchaticon">
        <img class="custom-icon lazyload" onClick="openChat()" data-src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/dd_chat_icon-01.svg?v=1668498608">
    </div> -->

<!-- </span> -->