<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
  </head>


  <body>
    <div class="accord_container">
      <h1 class="accord_heading">Mattress FAQ</h1>
      <div class="accordion">
        <div class="accordion-item">
          <div class="accordion-item-header">
            Is it possible to put Doctor Dreams Mattress on any surface?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Doctor Dreams is a low maintenance mattress and it can be put on any surface. Whether it stays
                                      on
                                      the slatted frame, boxspring bed or directly on the floor it doesn’t make any difference. It is
                                      only
                                      important to keep the surface clean and dry.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Do I have to flip and rotate my Doctor Dreams Mattress to make it last longer?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Because of the layer structure of Doctor Dreams, it is not recommended to flip the mattress
                                      upside
                                      down. Even turning the mattress is not necessary but possible, since the comfort zone on the
                                      mattress is symmetrical. Even without turning, Doctor Dreams Mattress is especially durable.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How long does it take to adapt to the Doctor Dreams Mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              It may happen that your body needs to adapt to a new mattress, which can take from 3 to 6 weeks.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How can I clean my Doctor Dreams Mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Treat your Doctor Dreams Mattress like you would as if your favorite shirt. The upper material
                                      of
                                      the cover can be washed at max. 60O Celsius, side and bottom material at 40O Celsius. Single
                                      spots
                                      can be easily removed with warm water and gentle detergent.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            I removed the cover to wash it, how can I put it back onto the core of the mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The core of the mattress needs to be located in an optimal position to ensure a functional
                                      structure. On the bottom, there is a 17 cm cold foam layer, that works as a supporting base. The
                                      cover is placed over the core of the mattress.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What mattresses do you offer?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              We offer
              <u>
                <a href="https://doctordreams.com/products/doctor-dreams-max-cool-gel-orthopaedic-mattress">Max Cool Gel Orthopedic Mattress</a>
              </u>,
              <u>
                <a href="https://doctordreams.com/products/doctor-dream-lite-dual-comfort-mattress">Lite Dual Comfort Mattress</a>
              </u>, and
              <u>
                <a href="https://doctordreams.com/products/doctor-dreams-plus-orthopaedic-mattress">Plus Orthopedic Mattress</a>
              </u>.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How much weight can the mattress and bed base handle?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The weight the mattress and bed base can handle varies based on the size and type of mattress. Typically, it can hold 500 pounds of weight.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Is the baby mattress cover waterproof?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, the baby mattress cover is waterproof.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Can I get an extra cover along with the mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, you can get an extra cover along with the mattress at an additional cost.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Can I roll back the mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, you can roll back the mattress once you have compressed it.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Which mattress is best suitable for me?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              We offer different kinds of mattresses, each with its own benefits. You can explore each type to determine which mattress best suits your requirement.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Which mattress is best for back pain?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              <u>
                <a href="https://doctordreams.com/products/doctor-dreams-max-cool-gel-orthopaedic-mattress">The Doctor Dreams Max Cool Gel Orthopedic Mattress</a>
              </u>
              and
              <u>
                <a href="https://doctordreams.com/products/doctor-dreams-plus-orthopaedic-mattress">Plus Orthopedic Mattress</a>
              </u>
              are especially designed to address back pain issues.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What is the difference between Gel Memory Foam and Latex?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Memory Foam and Latex are compared because they both contain foam layers. However, both the materials have different feels - Memory Foam has slow-moving properties and helps relieve pressure. Latex has a bouncier feel making it good for support for back pain.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            I removed the mattress cover. How do I put it back on the mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              You can easily put the mattress cover back on the mattress just like you would any cover, for example, a pillow cover.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What is Hybrid Pocket Spring Mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              A Hybrid Pocket Spring Mattress is a mattress with the combination of spring and foam. It is designed for comfort and zero motion transfer.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Does the mattress have a removable cover?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The mattress does not come with a removable cover. A removable mattress protector can be bought separately.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Is the mattress soft or hard?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The mattress is soft.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What is a cool gel mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Cool Gel Orthopedic Mattress is made with three layers - a green gel foam layer, a memory foam layer and PU foam layer. This mattress is designed for orthopedic comfort.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How firm or soft is the mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The mattress is soft enough to provide support to the back, neck and hips and ensures perfect alignment of the spine and joints.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What are the benefits of choosing a memory foam orthopedic mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Plus Orthopedic Mattress ensures the perfect alignment of the spine, neck and hips, which allows better sleep. Its PU foam layer ensures the mattress rebounds back to its original shape. It combines the benefits of soft and firm in one mattress.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How long will the mattress take to expand/uncompress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The mattress will uncompress instantly once unpacked from the box and opened.
            </div>
          </div>
        </div>

        <hr>

        <h1 class="accord_heading">Beds FAQ</h1>

        <div class="accordion-item">
          <div class="accordion-item-header">
            What makes the Doctor Dreams Striker Metal Bed different from normal platform or traditional bed frames?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Doctor Dreams Striker Metal Bed has many qualities that make it different from normal bed frames. Unlike other metal frame beds, this bed is anti-rust, and is stronger than normal beds and can bear more weight.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How long does it take to set up the Doctor Dreams Striker Metal Bed?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Doctor Dreams Striker Metal Bed can be put together with minimal effort. You can easily follow the instruction manual or call one of our trained Nilkamal service staff for assistance.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What different sizes is the Doctor Dreams Striker Metal Bed available in?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Doctor Dreams Striker Metal Bed is available in 3 sizes: King: 198 X 182 CM, Queen: 198 X 152 CM, and Single: 190 X 91 CM
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Can the Doctor Dreams Striker Metal Bed hold my Doctor Dreams mattress?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, the Doctor Dreams Striker Metal Bed is strong and sturdy and designed to bear weight. It can easily hold the Doctor Dreams mattress.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How long is the warranty of the Doctor Dreams Striker Metal Bed?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Doctor Dreams Striker Metal Bed has a 1 year warranty on manufacturing defects.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Can I use the Doctor Dreams Striker Metal Bed for non-Doctor Dreams mattresses?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, you can use any standard size mattress for the Doctor Dreams Striker Metal Bed.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How long is the warranty of the Doctor Dreams Striker Metal Bed?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Doctor Dreams Striker Metal Bed has a 1 year warranty on manufacturing defects.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What is the expected life of the wooden bed?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              When used with care the wooden bed can last for many years or decades.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What wood is the Acacia bed made from?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Doctor Dreams Acacia Bed is made from acacia wood.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How are Doctor Dreams beds delivered?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Doctor Dreams beds are delivered unassembled. They can be assembled in less than a few minutes by following the instruction manual.
            </div>
          </div>
        </div>

        <hr>

        <h1 class="accord_heading">Pillows FAQ</h1>

        <div class="accordion-item">
          <div class="accordion-item-header">
            Can I customize the size of the pillow?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Doctor Dreams pillows are available in standard sizes and cannot be customized.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Does this product have a return policy?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, this product can be returned.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Is gel memory foam pillow safe?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, gel memory foam pillows are safe as they are free of all harmful chemicals. You can look for gel pillows certified for safety and purity.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How does a cervical pillow help for neck pain?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              A well designed cervical pillow can help maintain the natural cervical curve when a person is sleeping on the back. This allows the muscles and ligaments to relax and regain normal length.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What makes the Doctor Dreams pillows the best pillows ever?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Doctor Dreams pillows are made following the best standard practices using the best quality materials, and hence, they are among the best pillows. Moreover these pillows are available online and easily delivered to doorstep.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How do I know which height of the Doctor Dreams pillow is right for me?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The standard height of pillows is 4 to 6 inches. Doctor Dreams pillows have standard height for proper support for head and neck.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            How do I care for Doctor Dreams pillows?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Doctor Dreams pillows come with a care manual and you can follow the usual practices to care for your Doctor Dreams pillows.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What is the difference between Doctor Dreams Memory Foam and Doctor Dreams Shredded Memory Foam pillows?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Doctor Dreams Memory Foam Pillow is made with memory foam, a soft material made of polyurethane. Memory foam is known to conform to the shape of different body parts such as the head and the neck.<br><br>
              The Doctor Dreams Shredded Memory Foam Pillow is made with soft memory foam pieces as filling. The removable filling enables you to adjust the height of the pillow as preferred and easily resize the pillow based on your mood and needs.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Is this sleeping pillow machine washable?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, the Doctor Dreams Memory Foam Pillow is machine washable.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Is it good to use a memory foam pillow?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, it is good to use a memory foam pillow as it is crafted with memory foam, a soft material made of polyurethane. Memory foam is known to conform to the shape of different body parts such as the head and the neck. This pillow is infused with cool gel technology that provides a cooling effect.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Will this pillow affect my latex allergies?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              There are no Latex products in the pillow
            </div>
          </div>
        </div>

        <hr>

        <h1 class="accord_heading">Essentials FAQ</h1>

        <div class="accordion-item">
          <div class="accordion-item-header">
            Does essential oil increase photosensitivity?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Photosensitivity can occur when certain essential oil constituents react due to exposure to UV light.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Does the oil have clinical interactions?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Some essential oils can cause clinical interactions and adverse reactions when exposed to the skin or absorbed into the body.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Do essential oils contain alcohol?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              No, all essential oils do not contain alcohol.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Can you use essential oils during pregnancy?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, you can use essential oils during pregnancy.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Can you use essential oils for infants and children?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, you can use essential oils for infants and children.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            Are essential oils cruelty free?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              Yes, essential oils are cruelty free.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-item-header">
            What is Aroma Diffuser Oil?
          </div>
          <div class="accordion-item-body">
            <div class="accordion-item-body-content">
              The Aroma Diffuser Oil is a unique blend of essential oils that calms your mind, body and soul.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
<script>
  const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");
  accordionItemHeaders.forEach(accordionItemHeader => {
    accordionItemHeader.addEventListener("click", event => {
      const currentlyActiveAccordionItemHeader = document.querySelector(".accordion-item-header.active");
      if (currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader !== accordionItemHeader) {
        currentlyActiveAccordionItemHeader.classList.toggle("active");
        currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
      }

      accordionItemHeader.classList.toggle("active");
      const accordionItemBody = accordionItemHeader.nextElementSibling;
      if (accordionItemHeader.classList.contains("active")) {
        accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
      } else {
        accordionItemBody.style.maxHeight = 0;
      }
    });
  });
</script>>