<style>
  div#shopify-section-returnandRefund {
    padding: 0 5%;
  }
  span.d_flex.heading_div.privacy_policy_head {
    width: 100%;
    align-items: flex-start;
    padding: 55px 0 70px;
  }
  .return_refund_container h1,
  .return_refund_container h2 {
    flex: 30%;
    font-size: 40px;
    color: #023e88;
    padding-right: 35px;
    font-weight: 500;
  }
  #shopify-section-returnandRefund section {
    width: 1200px;
    margin: 0 auto;
  }
  .return_refund_container {
    display: flex;
    margin-bottom: 70px;
  }
  .return_refund_container div {
    flex: 70%;
  }
  .return_refund_container div p,
  .return_refund_container div ol {
    font-size: 18px;
    line-height: 28px !important;
  }
  @media screen and (max-width:767px) {
    span.d_flex.heading_div.privacy_policy_head {
      padding: 35px 0;
    }
    #shopify-section-returnandRefund section {
      width: 100%;
    }
    .return_refund_container {
      flex-direction: column;
    }
    .return_refund_container h1,
    .return_refund_container h2 {
      font-size: 25px;
      padding: 20px 0;
    }
    .return_refund_container {
      margin-bottom: 35px;
    }
  }
</style>

<span class="d_flex heading_div privacy_policy_head">
  <h2 class="featured-collections--heading heading_text" data-item="section-heading">Return & Refund
  </h2>
</span>
<section>
  <div class="return_refund_container">
    <h1>Return & Refund</h1>
    <div>
      <p>If you’re not completely satisfied within 100 nights of sleeping on your new Doctor Dreams mattress you may return it and you are entitled to a full refund. Products must be in a good condition to be eligible for return (e.g., no stains, tears/damage or other soiling including odours)
      </p>
      <p>
        Once you have purchased your Doctor Dreams you have up to 100 days to request your return.</p>
      <p>Returns for website purchases must be made directly via our website through contact us page, or through email on help@doctordreams.com</p>
      <p>Refunds will be made via the same payment method used to order the mattress</p>
      <p>Your original mattress will be scheduled for pick up within 7 working days of receiving the ‘return’ or ‘refund’ request with the information we require.</p>
      <p>Please note, the collections can take up to 5 business days.</p>
      <p>If you change your mind after placing an order, you can cancel the order (or part of the order) within 24 hrs of the order confirmation, or before it is shipped, whichever is earlier. In case you wish to cancel the order post-dispatch, cancellation charges would be applicable.</p>
      <p>In case of receiving a damaged product please inform our customer service team within 3 days of product delivery by calling us on 1800-121-9439 or send us an email to help@doctordreams.com</p>
    </div>
  </div>
  <div class="return_refund_container">
    <h2>Terms and Conditions</h2>
    <div>
      <ol>
        <li>100 Nights Trial is applicable for the first 100 nights from the date of delivery.</li>
        <li>100 Nights Trial is applicable only on standard size mattresses and not available on custom size mattresses.</li>
        <li>Cancellations are not allowed on custom size mattresses.</li>
        <li>100 Nights trial Policy is not applicable on orders that have been placed via Amazon, Flipkart.</li>
        <li>Return and Refund on 100 Nights Trial offer will not be applicable if the product falls under an exception to Return/Refund under 100 Nights Trial.</li>
        <li>Our 100 Nights Trial offer applies only to the original purchaser of genuine Doctor Dreams mattress purchased from
          <a href="https://doctordreams.com/">www.Doctor Dreams.com</a>
          or any other website authorised by Doctor Dreams.</li>
        <li>We ask you to give your Doctor Dreams mattress a fair trial for a minimum of 2 weeks. Research shows that it takes just about that much time for your body to start adjusting to any new mattress!</li>
        <li>We will need photographic proof of the product from your end while opting for a return. We may cancel the request if you fail to provide substantial proof.</li>
      </ol>
    </div>
  </div>
  <div class="return_refund_container">
    <h2>*Exceptions to Return/Refund under 100 Nights Trial</h2>
    <div>
      <ol>
        <li>There should be no sign of dirt or damage on the mattress</li>
        <li>The 100-nights trial does not cover the exchange of your mattress due to an incorrect size ordered by you.</li>

        <li>This policy is not applicable on the accessories.</li>
      </ol>
    </div>
  </div>
</section>