    <style>
      div#shopify-section-termandcondition {
    padding: 0 5%;
}
     span.d_flex.heading_div.termandcondition_head {
    width: 100% !important;
    align-items: flex-start;
}
      .term_div {
        padding: 2% 1% 5%;
      }
.term_div p {
    font-size: 18px;
    padding-bottom: 8px;
}
    </style>
    <span class="d_flex heading_div termandcondition_head">
       <h2 class="featured-collections--heading heading_text" data-item="section-heading">Terms & Conditions</h2>
     </span>
      <div class="term_div">       
        <p >1.	100 Nights Trial is applicable for the first 100 nights from the date of delivery. In case of a swap between different models, the 100 Nights trial will be still calculated from the day your product is delivered.
        </p>
        <p >2.	100 Nights Trial is applicable only on standard size mattresses and not available on custom size mattresses.
        </p>
        <p >3.	Cancellations are not allowed on custom size mattresses.</p>
        <p >4.	100 Nights Trial is not applicable to the accessories.</p>
        <p >5.	For a full refund, you may decide to return the mattress any time before the end of 100 nights.</p>
        <p >6.	Return and Refund on 100 Nights Trial offer will not be applicable if the product falls under an exception to Return/Refund under 100 Nights Trial. </p>
        <p >7.	Our 100 Nights Trial offer applies only to the original purchaser of genuine Doctor Dreams mattress purchased from www.doctordreams.com or any other website authorised by Doctor Dreams.</p>
        <p >8.	We ask you to give your Doctor Dreams mattress a fair trial for a minimum of 2 weeks. Research shows that it takes just about that much time for your body to start adjusting to any new mattress!</p>
        <p >9.	We will need photographic proof of the product from your end while opting for a return. We may cancel the request if you fail to provide substantial proof.</p>
        <p >10.	The final decision on refund under 100 Nights Trial offer will be made by Doctor Dreams. The company reserves the complete right to refuse any request claim if it doesn’t fulfill the Terms and Conditions of the 100 Nights Trial Offer.</p> </div>
      </div>  
    