<div style="padding: 0 5%;">
<span class="d_flex heading_div privacy_policy_head">
  <h2 class="featured-collections--heading heading_text" data-item="section-heading">Warranty and Returns </h2>
</span>
<section class="static-section_pages">
  <div class="privacy_p_div">
    <h2 class="intro">Warranty term:</h2>
    <div class="intro_para">
      <p>The 10-year limited warranty begins at the date of purchase and is valid up to 10 years from the date of
        purchase. In case of a manufacturing defect covered by the warranty within 1 year of purchase, the mattress will
        be repaired or replaced with a then-current comparable model and size of the mattress. In case of any
        manufacturing defect after the first, either a repair or in case if a repair is not possible, a Prorated Credit
        Settlement will be applicable. This means for every year you own it, you would receive less and less credit. It
        is also suggested that mattresses be replaced every 8-10 years for hygiene purposes.</p>
    </div>
  </div>

  <div class="privacy_p_div">
    <h2 class="intro">Warranty covers:</h2>
    <div class="intro_para">
      <ol>
        <li>Visible indentation or sagging of the mattress greater than 1.5 inch and not resulting from improper use, an
          improper bed, bed base or foundation.</li>
        <li>Please note a + or – 15 mm variation in length, width and thickness is in the tolerance limit and can also
          be
          subjective to individual measurements taken from the center of the mattress.</li>
        <li>A manufacturing defect in the cover zipper. This does not include breakage of the zipper from improper or
          manhandling of the zipper.</li>
        <li>Any physical defects in the material or workmanship, subject to limitations described in this warranty</li>
      </ol>
    </div>
  </div>

  <div class="privacy_p_div">
    <h2 class="intro">Warranty does not cover:</h2>
    <div class="intro_para">
      <ol>
        <li>Issues that result from normal wear and tear or improper use are not subject to this Limited Warranty. The
          intended use of your mattress is for sleeping, resting and laying on; any other use of this mattress shall be
          considered the misuse of the mattress and will void your Limited Warranty. Exclusions from the Limited
          Warranty
          include but are not limited to normal wear and tear. Any improper use of the mattress.</li>
        <li>Minor imperfections such as slight cosmetic flaws.</li>
        <li>Stains, tears burns and discoloration that occur over time and/or are caused by the customer. Indentions,
          sagging or body indentions less than 1.5 inch deep.</li>
        <li>Personal opinions or preferences regarding the softness, firmness or attributes of a mattress.</li>
        <li>Any mattresses purchased or acquired used, resold, gifted or anyway not in possession of the original owner.
          Any mattress purchased from a non-authorized DD/Nilkamal distributor.</li>
        <li>Physical damage to a mattress caused by the customer.</li>
        <li>Allergies or sensitivities to fabrics or materials.</li>
        <li>Damage caused by animals, rodents or children.</li>
        <li>Naturally occurring aromas from foam, cotton or other materials.</li>
        <li>A normal increase in softness of the foam pressure-relieving material which does not affect the
          pressure-relieving qualities of the Mattress</li>
      </ol>
    </div>
  </div>

  <div class="privacy_p_div">
    <h2 class="intro">Wash and Care Instruction:</h2>
    <div class="intro_para">
      <ol>
        <li>Cleaning – Use a soft, damp and clean cloth using small circular motions to clean. You may use light fabric
          cleaning products. Please DO NOT machine wash or machine dry the mattress cover.</li>
        <li>Placing a new mattress on an old foundation: may not provide sufficient support. It may appear that the
          mattress is sagging when it is actually the foundation that supports the entire mattress that is faulty.</li>
        <li>Bending the mattress or its corners in any circumstance is not recommended and might damage the Foam.</li>
        <li>Always protect the mattress from water and other liquids</li>
        <li>Trial policy is not applicable on accessories</li>

      </ol>
      <p class="note"><b>Note:</b> When you use your mattress, there may be slight depression as the mattress conforms
        to
        your body shape. This is normal and in no way it will reduce comfort level, These are called Body Impression
        Marks.</p>
    </div>
  </div>

  <div class="privacy_p_div">
    <h2 class="intro">Refund Policy</h2>
    <div class="intro_para">
      <p>Refund will be processed within 48 hours once the mattress is received at our warehouse.
        Normally the banks take 7 – 10 days to credit the refund to customer's respective bank account.</p>
    </div>
 
  </section>
</div>