<div class="off-canvas--main-content">
<main class="layout--main-content" id="main-content">
<div class="featured-grid--body">
<div class="tabs">
  <ul id="tabs-nav">
    <li><a href="#tab1"><img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/Popular.svg?v=1655201717" alt="" title="" ><span>Popular</span></a></li>
    <li><a href="#tab2"><img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/Account_related.svg?v=1655201498" alt="" title="" ><span>Account related</span></a></li>
    <li><a href="#tab3"><img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/Order_related.svg?v=1655201681" alt="" title="" ><span>Order related</span></a></li>
    <li><a href="#tab4"><img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/Shipping_related.svg?v=1655201701" alt="" title="" ><span>Shipping related</span></a></li>
    <li><a href="#tab5"><img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/Payment_related.svg?v=1655201673" alt="" title="" ><span>Payment related</span></a></li>
    <li><a href="#tab6"><img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/t/197/assets/Warranty_and_returns.svg?v=1655201709" alt="" title="" ><span>Warranty and returns</span></a></li>
  </ul> <!-- END tabs-nav -->
  <div id="tabs-content">
    <div id="tab1" class="tab-content">
      {% section "collapsible-tabs" %}
    </div>
    <div id="tab2" class="tab-content">
    {% section "collapsible-tabs-faq2" %}  
    </div>
    <div id="tab3" class="tab-content">
      {% section "collapsible-tabs-faq3" %} 
    </div>
    <div id="tab4" class="tab-content">
    {% section "collapsible-tabs-faq4" %}    
    </div>
    <div id="tab5" class="tab-content">
    {% section "collapsible-tabs-faq5" %}    
    </div>
    <div id="tab6" class="tab-content">
    {% section "collapsible-tabs-faq6" %}    
    </div>
  </div> <!-- END tabs-content -->
</div> <!-- END tabs -->
    </div>
  </main>
  <style>
  
  </style>
</div>
