{{ 'sleep_music.css' | asset_url | stylesheet_tag }}
<div class=snooze_page >
{%- section 'sleep_music' -%}
{%- section 'sleep_stories' -%}
</div>
<style>
  .snooze_page {
    background-image: url(https://cdn.shopify.com/s/files/1/0248/7766/2271/files/Sleep_Desktop.jpg?v=1665555978);
    background-repeat: no-repeat;
        background-size: cover;
}
   .snooze_page .music_deskbg img, .music_mobilebg img {
    visibility: hidden;
}
   .snooze_page .section-sleep_stories-padding{
     padding-top:0;
     background:none;
}
  .snooze_page .main-sleep_stories-padding {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    column-gap: 25px;
    row-gap: 25px;
    padding: 0 4%;
        margin-top: 50px;
}
  .snooze_page .video{
   width:100%;
    padding-bottom: 0;
  }
</style>