{% if page.title == 'SBI' or page.title == 'Referral Program Details' or page.title == 'amazon offer T&C' or page.title == 'Safety measures taken by @home' or page.title == 'Track Your Order' %} 
{% else %}
<img src="https://cdn.shopify.com/s/files/1/0099/2867/1291/files/Genric_-_1280x285_04d6810a-019c-451b-8b8f-224ffd2cf357.jpg?2260150862416206127" width="100%">
{% endif %}
<!-- <div class="container track-order-1"> -->
  <a name="pagecontent" id="pagecontent"></a>
  <iframe src='https://doctordreams.clickpost.in/' name='iframecallout' scrolling='no' frameborder='0' marginheight='0' marginwidth='0' height='100%' width='100%' allowfullscreen></iframe>
 <!-- </div> -->
<!-- <style>
  .track-order {
    text-align: center;
  }
  .track-order p {
    padding: 5px 0 0;
  }
  form#tracking-form {
    max-width: 300px;
    width: 100%;
    margin: 40px auto 0;
  }
  #iframecallout{
    border: 0 solid #989898;
    padding-top: 10px;
  }
</style> -->