<style>
  .size_guide_heading {
    padding: 80px 4% 40px;
  }
  .size_guide_heading h2{
    color: #023e88;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    width: fit-content;
    font-size: 40px;
    padding-bottom: 25px;
  }
  .size_guide_heading p{
    font-weight: 400;
    font-size: 18px;
  }
</style>

<div class="size_guide_heading">
<h2>THERE ARE 4 DIFFERENT MATTRESS SIZES</h2>
<p>Choosing what size mattress to buy isn’t easy, especially considering the array of choices available</p>
<p>Below, we’ll outline everything you need to know about each mattress size so you’ll feel confident when you’re ready to buy.</p>
</div>
  <div class="size_guide_blocks_container">
    <div class="size_guide_blocks">
      <img src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/single_size.svg?v=1667310645">
      <div class="guide_detail">
        <h4>Single Size</h4>
        <p>Best suited for: 1 adult</p>
      </div>
      <a class="card_body_btn s_g_btn" href="https://doctordreams.com/collections/single-size-mattress">Buy Now</a>
    </div>
    <div class="size_guide_blocks">
      <img src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/Diwan_Size.svg?v=1667310645">
      <div class="guide_detail">
        <h4>Diwan Size</h4>
        <p>Best suited for: 1 adult + 1 kid</p>
      </div>
      <a class="card_body_btn s_g_btn" href="https://doctordreams.com/collections/double-size-mattress">Buy Now</a>
    </div>
    <div class="size_guide_blocks">
      <img src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/queen_size.svg?v=1667310645">
      <div class="guide_detail">
        <h4>Queen Size</h4>
        <p>Best suited for: 2 adult</p>
      </div>
      <a class="card_body_btn s_g_btn" href="https://doctordreams.com/collections/queen-size-mattress">Buy Now</a>
    </div>
    <div class="size_guide_blocks">
      <img src="https://cdn.shopify.com/s/files/1/0248/7766/2271/files/king_size.svg?v=1667310645">
      <div class="guide_detail">
        <h4>King Size</h4>
        <p>Best suited for: 2 adults + 1 kid</p>
      </div>
      <a class="card_body_btn s_g_btn" href="https://doctordreams.com/collections/king-size-mattress">Buy Now</a>
    </div>
  </div>
</section>