<div id='judgeme_all_reviews_page' class="page clearfix jdgm-all-reviews-page">
  <div class="jdgm-all-reviews-page__wrapper">
    <span class="d_flex heading_div judge_all_reviews_title">
      {%- if page.title != blank -%}
      <h2 class="featured-collections--heading heading_text" data-item="section-heading">
        {{ page.title }}
      </h2>
      {%- endif -%}
      </span>
    <!-- <h1 class="jdgm-all-reviews-page__title">{{ page.title }}</h1> -->
    <div class='jdgm-all-reviews-page__description'>{{ page.content }}</div>

    {% render 'judgeme_all_reviews' %}
  </div>
</div>
